/* game board table */

#board td {
  width: 50px;
  height: 50px;
  border: solid 1px #666;
  position: relative;
}

/* pieces are div within game table cells: draw as colored circles */

@keyframes dropIn {
  from { top:-300px; }
  to   { top:50%; }
}

.piece {
  position: absolute;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  transform: translateY(-50%);
  animation: dropIn 1s;
}
.p1 {
  background-color: darkturquoise;
}

.p2 {
  background-color: deeppink;
}

/* TODO: make pieces red/blue,  depending on player 1/2 piece */

/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px lightgray;
}

#column-top td:hover {
  background-color: gold;
}
